#edit-customer-form form{
    margin-top: 100px;
}

#edit-customer-form .edit-customer__actions {
    margin-top: 25px;
    text-align: center;
}
#edit-customer-form .edit-customer__help {
    margin-top: 25px;
    text-align: right;
}