#tools .side-tools {
    height: 100%;
    background-color: var(--primary-lite-color);
    position: absolute;
    width: 460px;
    right: -500px;
    z-index: 1;

    transition: right 500ms ease-in;
}

#tools .side-tools.show {
    right: 0;
}

#tools .side-tools .close {
    font-size: 34px;
    position: absolute;
    left: -16px;
    color: var(--primary-color);
}

#tools .side-tools .close-bg {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 11px;
    background-color: white;
    left: -19px;
    border-radius: 100%;
}

#tools .side-tools .close:active {
    border: unset;
}

#tools .side-tools__content {
    padding: 10px 25px 10px 25px;
}